.edit-modal-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
  position: absolute;
}

.edit-message-modal {
  background-color: white;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  display: none;
}

.modal-shown {
  display: block;
}

header {
  margin: 0;
  width: 100%;
  border-bottom: 1px solid black;
  height: 50px;
  text-align: center;
  font-size: 25px;
}

.input-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-message-input {
  width: 350px;
  height: 350px;
}

.edit-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.edit-message-button, .edit-message-close {
  margin: 0 20px 20px 0;
  width: 100px;
  cursor: pointer;
}